

.manrope-buni {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
:root{
    --paragraph-font: manrope-buni
    --primary-color: #E7DEB1;
    --secondary-color: #cacc90;
    --accent1-color: #8ba6a9;
    --accent2-color: #a7cecb;
    --accent3-color: #75704e;
    --heading-font: "poetsen one";
    --navigation-link-color: #f4ebbe;
    --navigation-hover-link-color: #8ba6a9;
    --navigation-hover-background-color: #cacc90;
    
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
header{
    padding: 12px;
    background-color: var(--accent1-color);
}
p{
    padding: 20px;
}
nav{
    background-color: var(--navigation-link-color);
    font-size: 1.4rem;
    display: flex;
}
nav a{
    display: block;
    color: black;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--navigation-link-color);
}
nav a :hover{
    color: var(--accent3-color);
    background-color: var(--accent1-color);
}