


.plus-jakarta-sans{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 
.manrope{
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
  }  
:root{
    --paragraph-font: "manrope";
    --primary-color: #FFFAE3;
    --secondary-color: #e94f37;
    --accent1-color:#2c3d55;
    --accent2-color:#0b6e4f;
    --accent3-color: #0047ab;
    --heading-font: "poetsen one";
    --navigation-link-color: #fffae3;
    --navigation-hover-link-color: #8ba6a9;
    --navigation-hover-background-color: #cacc90;
    --navigation-background-color:#0b6e4f;

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    background-color: var(--navigation-link-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
header{
    padding: 12px;
    background-color: var(--accent1-color);
}
p{
    font-family: var(--paragraph-font);
    padding: 20px;
}
.Colored-Callout{
    color: var(--accent2-color);
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
}
nav{
    background-color:var(--navigation-background-color);
    font-size: 1.4rem;
    display: flex;
}
nav ul{
    display: block;
    color: var(--primary-color);
    padding: 1rem;
}
nav a:link a:visited{
    color: var(--primary-color);
}

nav a :hover{
    color: var(--accent3-color);
    background-color: var(--accent1-color);
}
header div{
    font-family: var(--heading-font);
    color: var(--primary-color);
}