*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}
.grid{
    display: grid;
    align-items: center;
}
main{
    grid-column: 2/3;
}
nav{
    background-color: rgb(52, 99, 138);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
     color: white;
     display: block;
     padding: 7px;
     margin: 7px;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 400;
}
h1{
    color: steelblue;
    padding: 5px;
    border-bottom: 5px;
    border-bottom: blueviolet;
    border-bottom: solid;
    margin-bottom: 15px;
    max-width: 840px;
    grid-column: 2;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
}
aside{
    position: relative;
    box-sizing: border-box;
    width: 300px;
    margin: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: sans-serif;
}
aside h2{ 
    position: absolute;
    color: violet;
    top: 30px;
    left: 80px;
}

p{
    padding: 10px;
    font-family: sans-serif;
}
aside img{ 
    
    width: 220px;
    height: auto;
    padding: 10px;
    align-items: center;
}

footer{
    margin-top: 20px;
    border-top: 5px solid steelblue;
    text-align: center;
}
/* Class Selectors */
.box{ margin: 1rem;
    padding: 1rem;
    border: 2px solid violet;
    background-color: azure;
    color: rgb(41, 78, 79);
    clear: both;
}
main img {
    float:right;
    width: 150px;
    height: auto;
    margin-top: 10px;
    margin-left: 3px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}